
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 2%;
    width: 100%;
}


.auth button {
outline: none;
border: none;
background-color: #4ba6ca;
padding: 10px 20px;
color: white;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
border: 2px solid white;
font-weight: bold;
width: 100%;

}

.auth button:enabled {
background-color: 4ba6ca;
border: 2px solid;
color: white;
}

.auth button:disabled {
background-color: white;
border: 2px solid;
color: #4ba6ca;
}